name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 1 * * 5" # every friday at 1 am

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1
        with:
          repo-token: ${{ secrets.GRADLE_UPDATE_PAT }}
          reviewers: clemstoquart
          labels: automated pr, dependencies
